/.venv
/.venv_cotizador
/Base Equipos_Plan_21052025.xlsx
/Base Equipos_Plan_21052025.xlsx:Zone.Identifier
/Base Equipos_Plan_27052025.xlsx:Zone.Identifier
/cotizador_backend.log
/token_trace.csv
/workbench.ipynb
.env