annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
boto3
botocore
certifi
cffi
charset-normalizer
click
comm
debugpy
decorator
defusedxml
distro
duckdb
et_xmlfile
exceptiongroup
executing
fastjsonschema
filelock
Flask
fqdn
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
jmespath
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
MarkupSafe
matplotlib-inline
mistune
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
openai
openpyxl
overrides
packaging
pandas
pandas-nql
pandocfilters
parso
pexpect
platformdirs
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
pydantic
pydantic_core
Pygments
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
s3transfer
safetensors
Send2Trash
six
sniffio
soupsieve
stack-data
sympy
terminado
tinycss2
tokenizers
tomli
torch
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing-inspection
typing_extensions
tzdata
Unidecode
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension





nvidia-cufile-cu12
nvidia-nccl-cu12
triton